[submodule "submodules/.oh-my-zsh"]
	path = submodules/.oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/.vim/bundle/vim-yankstack"]
	path = vim/.vim/bundle/vim-yankstack
	url = git@github.com:maxbrunsfeld/vim-yankstack.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
