.vimperator/info/default/history-command
.vimperator/info/default/history-search
.ipython/profile_default/history.sqlite
.vimperator/info/default/local-marks
.vimperator/info/default/quickmarks
umatrix/

python/.ipython/profile_default/startup
zsh/.zsh-update

